@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-Background
}

label {
  @apply font-bold text-xl
}

.button-fill {
  @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded w-24
}

.button-outline {
  @apply bg-slate-500 text-white border-none p-2 rounded-xl flex items-center justify-center cursor-pointer
}

.form-control {
  @apply border border-gray-400 p-2 rounded-lg
}

.title {
  display : grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;

}

.title::before, .title::after {
  content: "";
  height: 2px;
  background-color : #808080;
  display: block;
  width: 100%;
}